/* Encabezado principal */
h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 15, 51);
  border-bottom: 1px solid rgb(0, 15, 51);
  margin: 20px auto;
}

body {
  background-color: rgb(254, 254, 176);
}

/* Recuadro gris */
#menu {
  background-color: #cccccc;
  padding: 10px;
}

/* Lista horizontal */
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

/* Elementos del menú */
#menu ul li {
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilo de los enlaces dentro del menú */
#menu ul li a {
  color: black;               
  text-decoration: none;      
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/*cambia el fondo del texto cuando el raton */
#menu ul li:hover {
  background-color: red;
  border-radius: 8px;
}

/* Cambia el texto cuand oel raton */
#menu ul li:hover a {
  color: white;
}

