body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: left; 
  margin: 20px;
}

table {
  margin: 20px 0;
  border-collapse: collapse;
  width: 70%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

th, td {  
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}
table tr:nth-child(1) {
  background-color: #bac4c7ab; 
}

table tr:nth-child(2) {
  background-color: #ADD8E6; 
}

table tr:nth-child(3) {
  background-color: #87CEEB; 
}

table tr:nth-child(4) {
  background-color: #ADD8E6; 
}

table tr:nth-child(5) {
   background-color: #bac4c7ab;
}

table tr:nth-child(6) {
  background-color: #ADD8E6; 
}

table tr:nth-child(7) {
  background-color: #87CEEB;
}

table tr:nth-child(8) {
  background-color: #ADD8E6; 
}

td {
  color: #000000;
}
