/* ======== GENERALES ======== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* ======== TÍTULO ======== */
.titulo {
    background-color: purple;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo h1 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

/* ======== CONTENEDOR PRINCIPAL (fila completa) ======== */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    width: 100%;
}

/* ======== COLUMNA IZQUIERDA (solo menú) ======== */
.left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ======== MENÚ ======== */
.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.menu a {
    color: rgb(234, 0, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.menu p:first-child {
    color: red;
    font-weight: bold;
}

/* ======== CENTRO: TEXTO + IMAGEN ======== */
.center-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* ======== TEXTO ======== */

.text-box {
    background: #222;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    text-align: center;
    
}

/* ======== IMAGEN ======== */
.image {
    background: #222;
    border: 2px solid gray;
    width: 400px;
    text-align: center;
}

.image img {
    width: 100%;
    max-width: 250px;
}

/* ======== TABLA DERECHA ======== */
.table-surprise {
    background: #222;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    overflow: hidden; /* evita que sobresalga */
    margin-right: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(255, 255, 255);
}

caption {
    padding: 5px;
    font-weight: bold;
}

th, td {
    border: 1px solid rgb(9, 255, 0);
    padding: 8px;
    text-decoration-color: pink;
}

th {
    background: #0500b8;
    text-decoration-color: pink;
}

td {
    background: #333;
    text-decoration-color: pink;
}

/* ======== FOOTER ======== */
footer {
    background: linear-gradient(90deg, blue, rgba(255, 166, 0, 0.623));
    padding: 12px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
}
ul {
    background-color: #9e9e9e; /* color de fondo */
    padding: 10px;          /* espacio interno */
    border-radius: 5px;     /* opcional: esquinas redondeadas */
}
